# Scanio config

## Common Scanio config
scanio:
  mode: "user"                # Scanio mode cofiguration. Default: user. Can be overridden with the environment variable SCANIO_MODE or CI.
  home_folder: "~/.scanio/"   # The home directory for Scanio. Default: ~/.scanio/. Can be overridden with the environment variable SCANIO_HOME.
  plugins_folder: ""          # The directory where Scanio plugins are stored. Default: <home_folder>/plugins. Can be overridden with the environment variable SCANIO_PLUGINS_FOLDER.
  projects_folder: ""         # The directory where Scanio project files are stored. Default: <home_folder>/projects. Can be overridden with the environment variable SCANIO_PROJECTS_FOLDER.
  results_folder: ""          # The directory where Scanio results are stored. Default: <home_folder>/results. Can be overridden with the environment variable SCANIO_RESULTS_FOLDER.
  temp_folder: ""             # The directory for temporary files used by Scanio. Default: <home_folder>/tmp. Can be overridden with the environment variable SCANIO_TEMP_FOLDER.

## Bitbucket plugin config
bitbucket_plugin:
  username: ""           # Bitbucket username for authentication. Default: none. Can be overridden with the environment variable SCANIO_BITBUCKET_USERNAME.
  token: ""              # Bitbucket access token for authentication. Default: none. Can be overridden with the environment variable SCANIO_BITBUCKET_TOKEN.
  ssh_key_password: ""   # Password for the SSH key used in Bitbucket operations. Default: none. Can be overridden with the environment variable SCANIO_BITBUCKET_SSH_KEY_PASSWORD.

## Github plugin config
github_plugin:
  username: ""           # Github username for authentication. Default: none. Can be overridden with the environment variable SCANIO_GITHUB_USERNAME.
  token: ""              # Github access token for authentication. Default: none. Can be overridden with the environment variable SCANIO_GITHUB_TOKEN.
  ssh_key_password: ""   # Password for the SSH key used in Github operations. Default: none. Can be overridden with the environment variable SCANIO_GITHUB_SSH_KEY_PASSWORD.

## Gitlab plugin config
gitlab_plugin:
  username: ""           # Gitlab username for authentication. Default: none. Can be overridden with the environment variable SCANIO_GITLAB_USERNAME.
  token: ""              # Gitlab access token for authentication. Default: none. Can be overridden with the environment variable SCANIO_GITLAB_TOKEN.
  ssh_key_password: ""   # Password for the SSH key used in Gitlab operations. Default: none. Can be overridden with the environment variable SCANIO_GITLAB_SSH_KEY_PASSWORD.

## Trufflehog3 plugin config
trufflehog3_plugin:
  write_default_trufflehog_config_if_missing: true  # If set to true, a default .trufflehog3.yml configuration file will be created in the target directory if it does not already exist.
  force_overwrite_trufflehog_config: false          # If set to true, the existing .trufflehog3.yml file will be overwritten with the default configuration, even if it already exists.
  exclude_paths: # A list of paths to be excluded from the Trufflehog3 scan. These paths will be added to the exclusion section of the .trufflehog3.yml configuration. Default: none
    - "vendor"
    - "node_modules"
    - "go.mod"
    - "go.sum"
    - "package.json"
    - "package-lock.json"
    - "Pipfile.lock"
    - "composer.lock"

## CodeQL plugin config
codeql_plugin:
  db_language: ""           # CodeQL language for building a DB. Default: none. Can be overridden with the environment variable SCANIO_CODEQL_DB_LANGUAGE.

## Logger config
logger:
  level: info               # Logging level. Default: info. Can be overridden with SCANIO_LOG_LEVEL.
  disable_time: true        # Whether to disable time in logs. Default: true.
  json_format: false        # Whether to format logs in JSON. Default: false.
  include_location: false   # Whether to include file and line number in logs. Default: false.

## HttpClient config
http_client:
  retry_count: 5              # Number of retries for HTTP requests. Default: 5.
  retry_wait_time: "1s"       # Time to wait before retrying an HTTP request. Default: 1s.
  retry_max_wait_time: "5s"   # Maximum time to wait before retrying an HTTP request. Default: 5s.
  timeout: "10s"              # Time before an HTTP request times out. Default: 30s.
  tls_client_config:
    verify: true              # Whether to verify TLS certificates. Default: true.
  proxy:
    host: "127.0.0.1"   # Proxy server address. Default: none. Can include scheme; defaults to http:// if unspecified.
    port: 8080          # Proxy server port. Default: none.
  custom_headers:                          # Custom headers to be added to each HTTP request.
    Authorization: "Bearer ${TOKEN}"      # Example custom header 1 with its corresponding value.
  
## GitClient config
git_client:
  depth: 0              # Default: 0. Full gclone is 0 (usefull if you need to search secrets in git history).
  insecure_tls: false   # Turning off verification of TLS certificates. Default: false.
  timeout: 10m          # The maximum duration for the Git request before timing it out. Default: 10m.
  single_branch: false  # Specified branch history downloading. Default: false
  tags:  "all"          # Fetching tags mode. Choose: all, no, follow. Default: All
