<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Language" content="en-us">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }}</title>
  <base target="_blank">
  <!-- inline css goes here -->
</head>

<body>
  <!-- header goes here -->
  <div class="main-container">
    {{range .Report.Runs}}
    
    There are {{len .Results}} issues. <br><br>

    {{range .Results}}
    <div class="issue-card">
      Rule: {{.RuleID}}. <br>
      Location:  {{with $location := index .Locations 0}}{{$location.PhysicalLocation.ArtifactLocation.URI}}:{{$location.PhysicalLocation.Region.StartLine}}{{end}}<br><br>
    </div>
    {{end}}
    
    {{end}}
  </div>
</body>
